/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset above, our CSS below */

html,
body,
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header img {
  width: 150px;
  height: 150px;
}

.header p {
  font-size: 48px;
}

.cards {
  width: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #fff;
  margin-bottom: 30px;
  transition: 0.3s all;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.card .expandBtn {
  margin-top: 20px;
}

.card .contributions {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  transform: translateX(-100px);
  opacity: 0;
}

div.contributions > div.position-relative {
  padding-top: 30px;
}

div.contributions > div:nth-child(4) {
  padding-bottom: 30px;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
  transition: 0.3s all;
}

.card:hover img {
  border-radius: 20%;
}

.card .card-info {
  width: 70%;
}

.card .name {
  font-size: 3.4rem;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-style: italic;
  margin: 3px 0 10px;
}

.followers-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
}
