/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Reset above, our CSS below */

html, body, * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header img {
  width: 150px;
  height: 150px;
}

.header p {
  font-size: 48px;
}

.cards {
  width: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
  object-fit: cover;
}

.card-info {
  width: 70%;
}

.card .name {
  font-size: 3.4rem;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-style: italic;
  margin: 3px 0 10px;
}

.calendar {
  width: 100%;
  font-family: Helvetica, arial;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 1% auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: #767676;
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

.monospace a {
  color: #1D75AB;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}
#user-activity-overview{
  display:none;
}

.position-relative {
  width: 100%;
}

.border {
  width: 100%;
}

.js-calendar-graph-svg {
  width: 100%;
}