/* .container {
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 1px 6px -2px grey;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .entry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .users-card {
    width: 200px;
    max-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 1px 6px -2px grey;
  }
  
  .users-card.selected {
    box-shadow: 0px 1px 6px 3px dodgerblue;
  }
  
  .users-image {
    max-width: 100%;
    max-height: calc(100% - 50px);
    border-radius: 5px;
    flex-shrink: 2;
  } */